language: ruby
sudo: false
gemfile:
  - gemfiles/rails_5.0.gemfile
  - gemfiles/rails_5.1.gemfile
  - gemfiles/rails_5.2.gemfile
  - gemfiles/rails_6.0.gemfile
rvm:
  - 2.5.8
  - 2.6.6
  - 2.7.2
script:
  - bundle exec rspec
  - bundle exec rubocop
